body {
    display: flex;
    justify-content: space-around;
    background-color: #a48b5a ;
}

table, th, td {
    border: 3px solid #55482f;
    background-color: #cfc2a9;
}

td, th {
    padding: 20px;
    text-align: center;
}

table {
    font-size: 20px;
}

.menu {
    display: flex;
    flex-direction: column;
}

.read-button,
.del-button {
    padding: 5px 10px;
    font-size: 20px;
}

.del-button {
    background-color: red;
    color: white;
    font-weight: 700;
}

.newBookForm {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 800px;
    border: 3px solid #55482f;
    background-color: #cfc2a9;
    padding: 20px;
    gap: 20px;
    justify-content: space-around;
    align-items: center;
    font-size: 30px;
}

.close,
.add-book {
    font-size: 20px;
    padding: 5px 10px;
}

input {
    background-color: #cdbfa4;
}

button {
    background-color: #cfc2a9;
}

.newBookButton {
    padding: 20px;
    font-size: 20px;
    width: 446px;
    font-weight: 700;
}

.closed {
    display: none;
}

.close {
    margin: -50px -5px -80px -5px;
    align-self: flex-end;
}